:root {
    --ube-black: #202123;
    --ube-charcoal: #343541;
    --ube-light-grey: #565869;
    --ube-lighter-grey: #E9ECEF;
    --ube-purple: #8878C3;
    --ube-white: #FFFFFF;
    --ube-links: #97bdbd;

    --ube-font-largest: 80;
    --ube-font-placeholder-text: 70;
    --ube-font-large: 35;
    --ube-font-medium: 30;
    --ube-font-small: 22;
    --ube-font-smallest: 18;
    --ube-font-tooltips: 14;
}


* {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-weight: 100;
    margin: 0;
    list-style-type: none;
}

html {
    width: 100vw;
    background-color: var(--ube-lighter-grey);
}

a {
    text-decoration: none;
}

h1, h2,
.home-secondary-title-italicized
 {
    font-family: "ABeeZee", sans-serif;
    color: var(--ube-white);
}

h1 {
    font-size: var(--ube-font-large);
}

h2 {
    font-size: var(--ube-font-medium);
}

h3 {
    font-size: var(--ube-font-small);
}

header {
    background-color: var(--ube-purple);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 0px;
    position:fixed;
}

.header {
    padding: 20px;
    background-color: var(--ube-purple);
}

.banner {
    font-size: 14px;
    margin-inline: 20px;
    margin-bottom: 20px;
}


.centered-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-content {
    padding: 20px;
}

.ordered-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
}

.ordered-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: 10px;
}

.order {
    background-color: var(--ube-white);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.return-home-button {
    text-decoration: none;
    color: var(--ube-white);
}

form {
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

a, button {
    padding-inline: px;
    margin-inline: 5px;
}

.return-home-button:hover,
a:hover {
    font-weight: bold;
}