* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    list-style-type: none
}

.header {
    padding: 20px;
}

.centered-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-content {
    padding: 20px;
}

.ordered-items-container {
    display: flex;
    flex-direction: row;
}

.ordered-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: 10px;
}

.order {
    margin: 20px;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
}

form {
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

a, button {
    padding-inline: px;
    margin-inline: 5px;
}