:root {
    --ube-black: #202123;
    --ube-lighter-grey: #E9ECEF;
    --ube-purple: #8878C3;
    --ube-purple-bright: #885CB2;
    --ube-white: #FFFFFF;

    --ube-font-largest: 80;
    --ube-font-placeholder-text: 70;
    --ube-font-large: 35;
    --ube-font-medium: 30;
    --ube-font-small: 22;
    --ube-font-smallest: 18;
    --ube-font-tooltips: 14;

    --ube-image-size: 175px;
}


* {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    margin: 0;
    list-style-type: none;
}

html {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--ube-lighter-grey);
}

a {
    text-decoration: none;
}

a, 
button,
#submit{
    color: var(--ube-purple-bright);
}

#submit,
button {
    padding-inline: 20px;
    padding-block: 10px;
    margin: 15px;
    border-radius: 10px;
    border: none;
}

h1, h2,
.home-secondary-title-italicized
 {
    font-family: "ABeeZee", sans-serif;
    color: var(--ube-white);
}

h1 {
    font-size: var(--ube-font-large);
}

h2 {
    font-size: var(--ube-font-medium);
}

h3 {
    font-size: var(--ube-font-small);
}

header {
    background-color: var(--ube-purple);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    padding-bottom: 10px;
    margin: 0px;
    position:fixed;
}

img {
    margin: 10px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    width: var(--ube-image-size);
    height: var(--ube-image-size);
}

header > nav {
    margin-right: 60px;   
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 20px;
}

.banner {
    font-size: 14px;
    margin-block: 10px;
}

.centered-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.centered-content {
    padding: 20px;
    margin-top: 140px;
}

.closed-order-details {
    margin: 0px;
}

.create-order-button, 
.create-order-button > a {
    background-color: var(--ube-purple);
    color: var(--ube-white);
}

.header {
    padding: 20px;
    background-color: var(--ube-purple);
}

.header-links {
    color: var(--ube-white);
    font-weight:600;
}

.form-title {
    color: var(--ube-black);
    padding: 20px;
}

.ordered-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    padding: 0px;
    margin-inline: 40px;
}

.ordered-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order, 
.form-container {
    background-color: var(--ube-white);
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 10px;
}

.return-home-button {
    text-decoration: none;
    color: var(--ube-white);
}

.welcome-message {
    color: var(--ube-black)
}

/* --------- HOVER SETTINGS --------- */
.return-home-button:hover,
button:hover,
#submit:hover,
a:hover {
    font-weight: 900;
}

.header-links:hover {
    text-decoration: underline;
}