<html>
  <head>
    {% if title %}
      <title>{{ title }} - Order Up!</title>
    {% else %}
      <title>Welcome to Order Up!</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  </head>
  <body>
    {% include "components/header.html" %}
    <p class="banner">This order management app is not real but the ube treats in it are! Place an order at<a href="https://www.ubeareabakery.com">Ube Area Bakery</a>to get your ube fix!</spn>
      {% block content %}
      {% endblock %}
  </body>
</html>