<div class ='order'>
    <h3>Order # {{ order.id }}</h3>
    {% if not order.paid %}
    <nav>
        <a href="/add-to-order/{{order.id}}">Add Item</a>
        <a href="/remove-from-order/{{order.id}}">Remove Item</a>
        <form method="post" action="/close-order/{{order.id}}">
            <button>Close Order</button>
        </form>
    </nav>
    {% endif %}
    <ul>
        <li>Table: {{ order.table_id }}</li>
        <li>Paid: {{'Yes' if order.paid else 'No'}}</li>
        <li>
            Ordered Items:
            <ul>
                {% for ordered_item in order.ordered_items%}
                <li>{{ ordered_item.item.name }}</li>
                {% endfor %}
            </ul>
    
        </li>
       
    </ul>
    
</div>