<div class ='order'>
    <nav>
        <h3>Order # {{ order.id }}</h3>
        {% if not order.paid %}
            {% include "components/buttons/add-item.html" %}
            {% include "components/buttons/remove-item.html" %}
            {% include "components/buttons/close-order.html" %}
        {% endif %}
    </nav>
    <ul class="closed-order-details">
        <li>Table: {{ order.table_id }}</li>
        <li>Paid: {{'Yes' if order.paid else 'No'}}</li>
        <li>
            <div class="ordered-items-container">
                {% for ordered_item in order.ordered_items%}
                <div class = "ordered-item">
                    <p>{{ordered_item.item.name}}</p>
                    <img src="/static/images/{{ordered_item.item.image_filename}}.png" width="150">
                </div>
                {% endfor %}
            </div>
            </li>
    </ul>
</div>