<h3>Order # {{ order.id }}</h3>
<a href="/add-to-order/{{order.id}}">Add Item</a>
<a href="/remove-from-order/{{order.id}}">Remove Item</a>
<a href="/close-order/{{order.id}}">Close Order</a>
<ul>
    <li>Table: {{ order.table_id }}</li>
    <li>Paid: {{'Yes' if order.paid else 'No'}}</li>
    <li>
        Ordered Items:
        <ul>
            {% for ordered_item in order.ordered_items%}
            <li>{{ ordered_item.item.name }}</li>
            {% endfor %}
        </ul>

    </li>
   
</ul>
