{% extends "base.html" %}
{% block content %}
<div>
    <form method="get" action="{{ url_for('session.createOrder') }}">
        <button>Create Order</button>
    </form>
    <form method="get" action="{{ url_for('session.updateOrder') }}">
        <button>Update Order</button>
    </form>
    <form method="post" action="{{ url_for('session.logout') }}">
        <button>Logout</button>
    </form>
</div>
<div>
    <h2>My Orders:</h2>
    <ul>
        {% for order in orders %}
        {% include "order.html"%}
        {% endfor %}
    </ul>
</div>

{% endblock %}